<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block content %}

{% load static %}
<br><br><br><br><br><br><br>
<html lang="en">
<div className="container-fluid">
      <div className="container-fluid">
   <div class="about_1 clearfix">
    <div class="col-sm-12">
     <div class="about_1l clearfix">
	  <h4 class="mgt">ABOUT <span class="col_1">FIND HOUSES</span></h4>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum odio id voluptatibus incidunt cum? Atque quasi eum debitis optio ab. Esse itaque officiis tempora possimus odio rerum aperiam ratione, sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit sunt.</p>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum odio id voluptatibus incidunt cum? Atque quasi eum debitis optio ab. Esse itaque officiis tempora possimus odio rerum aperiam ratione, sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit sunt.</p>
	 </div>
	</div>
	 </div>
	</div>
   </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<!--   </div>-->
<!--  </div>-->
</section>

<script>
$(document).ready(function(){

/*****Fixed Menu******/
var secondaryNav = $('.cd-secondary-nav'),
   secondaryNavTopPosition = secondaryNav.offset().top;
	$(window).on('scroll', function(){
		if($(window).scrollTop() > secondaryNavTopPosition ) {
			secondaryNav.addClass('is-fixed');	
		} else {
			secondaryNav.removeClass('is-fixed');
		}
	});	
	
});
</script>

</body>
 
</html>
{% endblock content %}
