{% extends "layouts/base.html" %}

{% block content %}

{% load static %}

<section id="center" class="center_detail clearfix" xmlns="http://www.w3.org/1999/html">
 <div class="container">
  <div class="row">
   <div class="center_detail_1 clearfix">

     <div class="col-sm-8">
	  <div class="center_detail_1l clearfix">
	   <div class="center_detail_1li clearfix">
	    <h3 class="mgt">{{ get_data_by_user.title }} <span class="span_1">{{ get_data_by_user.for_rent_or_sale }}</span> <span class="span_2 pull-right">$ {{ get_data_by_user.price }}</span></h3>
		<h5>{{ get_data_by_user.location }}</h5>
	   </div>
	   <div class="center_detail_1li1 clearfix">
        <h4 class="mgt head_1">Gallery</h4>
		<div id="main_area">
                <!-- Slider -->
                <div class="row">
                    <div class="col-sm-12" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-sm-12" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
										{% for image in get_data_by_user.property_image.all %}
                                        <div {% if forloop.first %} class="active item" {% else %}class="item" {%endif%} data-slide-number=	{{ forloop.counter0 }}>
                                        <img src="{{ image.image.url }}"  class="iw" alt="abc"></div>
										{% endfor %}

                                    </div><!-- Carousel nav -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>                                       
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>                                       
                                    </a>                                
                                    </div>
                            </div>
                            
                        </div>
                    </div>
                </div><!--/Slider-->

                <div class="row hidden-sm" id="slider-thumbs">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets">
							{% for image in get_data_by_user.property_image.all %}
                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-"{{ forloop.counter0 }}><img src="{{ image.image.url }}" class="iw" alt="abc"></a>
                            </li>
							{%endfor%}
                        </ul>                 
                </div>
        </div>
	   </div>
	   <div class="center_detail_1li1 clearfix">
        <h4 class="mgt head_1">Description</h4><br><br>
		   <p>{{ get_data_by_user.description }}</p>
	   </div>
	   <div class="center_detail_1li2 clearfix">
        <h4 class="mgt head_1">Property Details</h4><br><br>
         <div class="center_detail_1li2i clearfix">
		  <div class="col-sm-4 space_left">
		   <h6><span class="bold">Property ID:</span> {{ get_data_by_user.property_ID }}</h6>
		  </div>
		  <div class="col-sm-4 space_left">
		   <h6><span class="bold">Property Type:</span> {{ get_data_by_user.property_Type }}</h6>
		  </div>
		  <div class="col-sm-4 space_left">
		   <h6><span class="bold">Property Status:</span> {{ get_data_by_user.property_Status }}</h6>
		  </div>
		 </div>
		 <div class="center_detail_1li2i clearfix">
		  <div class="col-sm-4 space_left">
		   <h6><span class="bold">Property Price:</span> {{ get_data_by_user.price }}</h6>
		  </div>
		  <div class="col-sm-4 space_left">
		   <h6><span class="bold">Rooms:</span> {{ get_data_by_user.rooms }}</h6>
		  </div>
		  <div class="col-sm-4 space_left">
		   <h6><span class="bold">Bedrooms:</span> {{ get_data_by_user.beds }}</h6>
		  </div>
		 </div>
		 <div class="center_detail_1li2i clearfix">
		  <div class="col-sm-4 space_left">
		   <h6><span class="bold">Bath:</span> {{ get_data_by_user.bathroom }}</h6>
		  </div>
		  <div class="col-sm-4 space_left">
		   <h6><span class="bold">Garages:</span> {{ get_data_by_user.garage }}</h6>
		  </div>
		  <div class="col-sm-4 space_left">
		   <h6><span class="bold">Year Built:</span> {{ get_data_by_user.year_built }}</h6>
		  </div>
		 </div><br><br>
		 <h4 class="mgt head_1">Amenities</h4>
		<div class="center_detail_1li2i clearfix">
			{% for key, value in amenities.items %}
			<div class="col-sm-4 space_left">
				<h5><i class="fa fa-check-square col_1"></i> {{key}}</h5>
		  </div>
			{% endfor %}
		</div>
	 </div>
	  </div>
		  </div>
	 <div class="col-sm-4">
	   <div class="center_detail_1r clearfix">
	    <div class="center_detail_1ri1 mgt clearfix">
		 <h4 class="mgt"><i class="fa fa-calendar col_1"></i> Schedule a Tour</h4>
		 <hr>
    <h5 class="text-center mgt">
		<!-- Embed Calendly widget -->
		<div class="calendly-inline-widget" data-url="https://calendly.com/{{user_agents.username}}" style="min-width:320px;height:30px;"></div>
        <!-- Call the JavaScript function on button click -->
        		<a class="button block" href="https://calendly.com/{{user_agents.username}}" onclick="handleRequestSubmission();">Schedule a Tour Meeting</a>

    </h5>
</div>
		</div>
		<div class="center_detail_1ri1 clearfix">
		  <h4 class="mgt"> User Information</h4>
		  <hr>
		  <div class="center_detail_1ri1i1 clearfix">
			  {% if user_agents.image %}
		    <img src="{{user_agents.image.url}}" class="img-circle" alt="abc">
			  {% else %}
    		<img src="{% static 'property/img/30.jpg' %}" alt="Default Image">
			  {% endif %}
			<h5 class="bold mgt">{{user_agents.username}}</h5>
			<h6>{{user_agents.title}}</h6>
		  </div>
		  <h6><i class="fa fa-map-marker col_1"></i> {{user_agents.address}}</h6>
		  <h6><i class="fa fa-phone col_1"></i> {{user_agents.phone_number}}</h6>
		  <h6><i class="fa fa-envelope col_1"></i> <a href="#">{{user_agents.email}}</a></h6><br>
		</div>
	  </div>
	   </div>
	 </div>
	</div>
	</div>
	</div>
</section>

{% endblock content %}