{% extends "layouts/base.html" %}

{% block content %}

{% load static %}
	
<section id="center" class="center_home clearfix">
<div class="center_main clearfix">
 <div class="w3-content w3-section clearfix">
  <img class="mySlides w3-animate-top" src="{% static 'property/img/1.jpg' %}" alt="abc" style="width: 100%; display: none;">
  <img class="mySlides w3-animate-bottom" src="{% static 'property/img/2.jpg' %}" alt="abc" style="width: 100%; display: block;">
  <img class="mySlides w3-animate-top" src="{% static 'property/img/3.jpg' %}" alt="abc" style="width: 100%; display: none;">
</div>
 <div class="center_main_1 clearfix">
  <div class="col-sm-8"></div>
  <div class="col-sm-4">
   <div class="center_main_1r clearfix">
     <h5 class="mgt col">Property Status</h5>
	 <select class="form-control" name="property">
		<option value="">Any Status</option>
		<option value="for-sale">For Sale</option>
		<option value="for-rent">For Rent</option>
		<option value="sold">Sold</option>
    </select>
	<h5 class="col">Property Type</h5>
	<select class="form-control" name="property">
		<option value="">Any Type</option>
		<option value="family-house">Family House</option>
		<option value="apartment">Apartment</option>
		<option value="condo">Condo</option>
    </select>
	<h5 class="col">Location</h5>
	<select class="form-control" name="Location">
		<option value="">Any Location</option>
		<option value="family-house">New York</option>
		<option value="apartment">Los Angeles</option>
		<option value="condo">Chicago</option>
		<option value="condo">Philadelphia</option>
		<option value="condo">San Francisco</option>
   </select>
   <h5 class="col">Price</h5>
	<select class="form-control" name="Price">
		<option value="">$54,000 - $130,000</option>
		<option value="family-house">$44,000 - $140,000</option>
		<option value="apartment">$74,000 - $150,000</option>
		<option value="condo">$84,000 - $160,000</option>
		<option value="condo">$94,000 - $170,000</option>
		<option value="condo">$44,000 - $120,000</option>
   </select>
   <div class="center_main_1ri clearfix">
    <div class="col-sm-6 space_left">
	 <h5 class="col">Beds</h5>
	 <select class="form-control" name="beds" id="beds">
		<option value="">Any</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
     </select>
	</div>
	<div class="col-sm-6 space_right">
	 <h5 class="col">Baths</h5>
	 <select class="form-control" name="beds" id="beds">
		<option value="">Any</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
     </select>
	</div>
   </div>
   <div class="center_main_1ri clearfix">
    <div class="col-sm-6 space_left">
	 <h5 class="col">Area (Min)</h5>
	 <div class="input-group number-spinner">
				<span class="input-group-btn">
					<button class="btn btn-default" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
				</span>
				<input type="text" class="form-control mgt text-center" value="1">
				<span class="input-group-btn">
					<button class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
				</span>
	</div>
	</div>
	<div class="col-sm-6 space_right">
	 <h5 class="col">Area (Max)</h5>
	 <div class="input-group number-spinner">
				<span class="input-group-btn">
					<button class="btn btn-default" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
				</span>
				<input type="text" class="form-control mgt text-center" value="1">
				<span class="input-group-btn">
					<button class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
				</span>
	</div>
	</div>
   </div>
   <h5 class="text-center"><a class="button_1 block" href="#">SEARCH PROPERTY</a></h5>
   </div>
  </div>
 </div>
</div>
</section>

<section id="feature">
 <div class="container">
  <div class="row">
   <div class="feature_1 clearfix">
    <div class="col-sm-12">
	   <h4 class="mgt">RECENTLY <br><span class="col_1">PROPERTIES</span></h4>
	</div>
   </div>

   <div class="feature_2 clearfix">

    <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->

            <div class="carousel-inner">
                <div class="item active">
					{% for property in queryset %}
					<div class="col-sm-4">
						 <div class="feature_2im clearfix">
							 <div class="feature_2im1 clearfix">
								 <a href="#"><img src="{{ property.image.url }}" class="iw" alt="abc" height="280" width="360"></a>
							 </div>
							 <div class="feature_2im2 clearfix">
								 <h6 class="mgt"><a class="bg_1" href="#">{{ property.feature }}</a></h6>
								 <h6 class="pull-right mgt"><a class="bg_2" href="#">{{ property.for_rent_or_sale }}</a></h6>
							 </div>
							 <div class="feature_2im4 clearfix">
								 <div class="col-sm-6 space_left">
								   <h6><a class="bg_3" href="#">{{ property.property_type_family_or_bachelor }}</a></h6>
								 </div>
								 <div class="col-sm-6 feature_2im4r space_right">
									 <ul class="mgt">
										<li><a href="#"><i class="fa fa-link"></i></a></li>
										<li><a href="#"><i class="fa fa-video-camera"></i></a></li>
										<li><a href="#"><i class="fa fa-photo"></i></a></li>
								     </ul>
								 </div>
							 </div>
						 </div>
						<div class="feature_2m_last clearfix">
						  <h4 class="mgt bold"><a href="{% url 'home_detail' property.id %}">{{ property.title }}</a></h4>
						  <p><i class="fa fa-map-marker"></i> {{property.location}}</p><br>
						  <h6><i class="fa fa-hotel col_1"></i> {{ property.beds }} <span class="pull-right"><i class="fa fa-building-o col_1"></i> {{ property.bathroom }}</span></h6>
						  <h6><i class="fa fa-object-group col_1"></i> {{ property.house_size}} <span class="pull-right"><i class="fa fa-gear col_1"></i> {{ property.garage }}</span></h6><br>
						  <h5 class="bold"><a href="#">$ {{ property.price }} <span class="pull-right"><i class="fa fa-exchange"></i> <i class="fa fa-share-alt"></i> <i class="fa fa-heart-o"></i></span></a></h5>
						  <div class="feature_2m_last_i clearfix">
							  <h6><a href="#"><i class="fa fa-user"></i> {{ property.username.user }} <span class="pull-right"><i class="fa fa-calendar"></i> {{ property.date }}</span></a></h6>
						  </div>
					 	</div>
					</div>
					{% endfor %}
				</div>
			</div>

		</div>
	<div class="feature_2_last text-center clearfix">
            <div class="col-sm-12">
                <!-- Controls -->
                <div class="controls">
                    <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
                </div>
            </div>
        </div>
   </div>


  </div>
 </div>
</section>

<section id="popular">
 <div class="container">
  <div class="row">
   <div class="feature_1 clearfix">
    <div class="col-sm-12">
	   <h4 class="mgt">MOST POPULAR <br><span class="col_1">PLACES</span></h4>
	</div>
   </div>
   <div class="popular_1 clearfix">
    <div class="col-sm-4">
	 <div class="popular_1i clearfix">
	  <div class="popular_1i1 clearfix">
	   <a href="#"><img src="{% static 'property/img/11.jpg' %}" class="iw" alt="abc"></a>
	  </div>
	  <div class="popular_1i2 text-center clearfix">
	   <h4 class="mgt"><a  class="col" href="#">New York City</a></h4>
	   <h5><a class="col" href="#">213 Properties</a></h5>
	  </div>
	 </div>
	</div>
	<div class="col-sm-8">
	 <div class="popular_1i clearfix">
	  <div class="popular_1i1 clearfix">
	   <a href="#"><img src="{% static 'property/img/12.jpg' %}" class="iw" alt="abc"></a>
	  </div>
	  <div class="popular_1i2 text-center clearfix">
	   <h4 class="mgt"><a  class="col" href="#">Los Angeles</a></h4>
	   <h5><a class="col" href="#">283 Properties</a></h5>
	  </div>
	 </div>
	</div>
   </div>
   <div class="popular_1 clearfix">
	<div class="col-sm-8">
	 <div class="popular_1i clearfix">
	  <div class="popular_1i1 clearfix">
	   <a href="#"><img src="{% static 'property/img/13.jpg' %}" class="iw" alt="abc"></a>
	  </div>
	  <div class="popular_1i2 text-center clearfix">
	   <h4 class="mgt"><a  class="col" href="#">America</a></h4>
	   <h5><a class="col" href="#">435 Properties</a></h5>
	  </div>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="popular_1i clearfix">
	  <div class="popular_1i1 clearfix">
	   <a href="#"><img src="{% static 'property/img/14.jpg' %}" class="iw" alt="abc"></a>
	  </div>
	  <div class="popular_1i2 text-center clearfix">
	   <h4 class="mgt"><a  class="col" href="#">London</a></h4>
	   <h5><a class="col" href="#">343 Properties</a></h5>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="team_h">
 <div class="container">
  <div class="row">
   <div class="feature_1 clearfix">
    <div class="col-sm-12">
	   <h4 class="mgt">MEET OUR <br><span class="col_1">AGENTS</span></h4>
	</div>
   </div>
   <div class="team_h_1 clearfix">
    <div class="col-sm-3">
	  <div class="team_h_1i clearfix">
	    <div class="profile clearfix">
              <div class="img-box">
                <img src="{% static 'property/img/15.jpg' %}" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
				  <a href="#"><li><i class="fa fa-instagram"></i></li></a>
                </ul>
              </div>
			  <div class="profilei text-center clearfix">
				  <h3 class="mgt">Arcu Eget</h3>
				  <h5>Real Estate Agent</h5>
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				  <h5><a class="button" href="#">View Profile</a></h5>
			  </div>
            </div>
	  </div>
	</div>
	<div class="col-sm-3">
	  <div class="team_h_1i clearfix">
	    <div class="profile clearfix">
              <div class="img-box">
                <img src="{% static 'property/img/16.jpg' %}" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
				  <a href="#"><li><i class="fa fa-instagram"></i></li></a>
                </ul>
              </div>
			  <div class="profilei text-center clearfix">
				  <h3 class="mgt">Mauris Massa</h3>
				  <h5>Real Estate Agent</h5>
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				  <h5><a class="button" href="#">View Profile</a></h5>
			  </div>
            </div>
	  </div>
	</div>
	<div class="col-sm-3">
	  <div class="team_h_1i clearfix">
	    <div class="profile clearfix">
              <div class="img-box">
                <img src="{% static 'property/img/17.jpg' %}" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
				  <a href="#"><li><i class="fa fa-instagram"></i></li></a>
                </ul>
              </div>
			  <div class="profilei text-center clearfix">
				  <h3 class="mgt">Ante Dapibus</h3>
				  <h5>Real Estate Agent</h5>
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				  <h5><a class="button" href="#">View Profile</a></h5>
			  </div>
            </div>
	  </div>
	</div>
	<div class="col-sm-3">
	  <div class="team_h_1i clearfix">
	    <div class="profile clearfix">
              <div class="img-box">
                <img src="{% static 'property/img/18.jpg' %}" class="img-responsive">
                <ul class="text-center">
                  <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                  <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                  <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
				  <a href="#"><li><i class="fa fa-instagram"></i></li></a>
                </ul>
              </div>
			  <div class="profilei text-center clearfix">
				  <h3 class="mgt">Nec Odio</h3>
				  <h5>Real Estate Agent</h5>
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				  <h5><a class="button" href="#">View Profile</a></h5>
			  </div>
            </div>
	  </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="news_h">
 <div class="container">
  <div class="row">
   <div class="feature_1 clearfix">
    <div class="col-sm-12">
	   <h4 class="mgt">LATEST <br><span class="col_1">NEWS</span></h4>
	</div>
   </div>
   <div class="news_h_1 clearfix">
    <div class="col-sm-6">
     <div class="news_h_1i clearfix">
	   <div class="col-sm-5 space_all">
	    <div class="news_h_1ir clearfix">
		 <a href="#"><img src="{% static 'property/img/19.jpg' %}" class="iw" alt="abc"></a>
		</div>
	   </div>
	   <div class="col-sm-7 space_all">
	    <div class="news_h_1il clearfix">
		 <h4 class="mgt"><a href="#">The Real Estate News</a></h4>
		 <h6>Jan 21, 2020  /  By Admin</h6>
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
		 <div class="news_h_1ili clearfix">
		  <div class="col-sm-4 space_all">
		   <h5><a class="col_1 bold" href="#">Read more...</a></h5>
		  </div>
		  <div class="col-sm-8 space_right">
		   <ul>
		    <li><i class="fa fa-heart col_1"></i> 336</li>
			<li><i class="fa fa-comment col_1"></i> 39</li>
			<li><i class="fa fa-share-alt col_1"></i> 142</li>
		   </ul>
		  </div>
		 </div>
		</div>
	   </div>
	 </div>
	</div>
	<div class="col-sm-6">
     <div class="news_h_1i clearfix">
	   <div class="col-sm-5 space_all">
	    <div class="news_h_1ir clearfix">
		 <a href="#"><img src="{% static 'property/img/20.jpg' %}" class="iw" alt="abc"></a>
		</div>
	   </div>
	   <div class="col-sm-7 space_all">
	    <div class="news_h_1il clearfix">
		 <h4 class="mgt"><a href="#">The Real Estate News</a></h4>
		 <h6>Jan 21, 2020  /  By Admin</h6>
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
		 <div class="news_h_1ili clearfix">
		  <div class="col-sm-4 space_all">
		   <h5><a class="col_1 bold" href="#">Read more...</a></h5>
		  </div>
		  <div class="col-sm-8 space_right">
		   <ul>
		    <li><i class="fa fa-heart col_1"></i> 336</li>
			<li><i class="fa fa-comment col_1"></i> 39</li>
			<li><i class="fa fa-share-alt col_1"></i> 142</li>
		   </ul>
		  </div>
		 </div>
		</div>
	   </div>
	 </div>
	</div>
   </div>
   <div class="news_h_1 clearfix">
    <div class="col-sm-6">
     <div class="news_h_1i clearfix">
	   <div class="col-sm-5 space_all">
	    <div class="news_h_1ir clearfix">
		 <a href="#"><img src="{% static 'property/img/21.jpg' %}" class="iw" alt="abc"></a>
		</div>
	   </div>
	   <div class="col-sm-7 space_all">
	    <div class="news_h_1il clearfix">
		 <h4 class="mgt"><a href="#">The Real Estate News</a></h4>
		 <h6>Jan 21, 2020  /  By Admin</h6>
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
		 <div class="news_h_1ili clearfix">
		  <div class="col-sm-4 space_all">
		   <h5><a class="col_1 bold" href="#">Read more...</a></h5>
		  </div>
		  <div class="col-sm-8 space_right">
		   <ul>
		    <li><i class="fa fa-heart col_1"></i> 336</li>
			<li><i class="fa fa-comment col_1"></i> 39</li>
			<li><i class="fa fa-share-alt col_1"></i> 142</li>
		   </ul>
		  </div>
		 </div>
		</div>
	   </div>
	 </div>
	</div>
	<div class="col-sm-6">
     <div class="news_h_1i clearfix">
	   <div class="col-sm-5 space_all">
	    <div class="news_h_1ir clearfix">
		 <a href="#"><img src="{% static 'property/img/22.jpg' %}" class="iw" alt="abc"></a>
		</div>
	   </div>
	   <div class="col-sm-7 space_all">
	    <div class="news_h_1il clearfix">
		 <h4 class="mgt"><a href="#">The Real Estate News</a></h4>
		 <h6>Jan 21, 2020  /  By Admin</h6>
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
		 <div class="news_h_1ili clearfix">
		  <div class="col-sm-4 space_all">
		   <h5><a class="col_1 bold" href="#">Read more...</a></h5>
		  </div>
		  <div class="col-sm-8 space_right">
		   <ul>
		    <li><i class="fa fa-heart col_1"></i> 336</li>
			<li><i class="fa fa-comment col_1"></i> 39</li>
			<li><i class="fa fa-share-alt col_1"></i> 142</li>
		   </ul>
		  </div>
		 </div>
		</div>
	   </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="user">
 <div class="container">
  <div class="row">
   <div class="feature_1 clearfix">
    <div class="col-sm-12">
	   <h4 class="mgt">HAPPY <br><span class="col_1">CUSTOMERS</span></h4>
	</div>
   </div>
   <div class="user_1 clearfix">
     <div id="Carousel" class="carousel slide">
                 
                <ol class="carousel-indicators">
                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel" data-slide-to="1" class=""></li>
                    <li data-target="#Carousel" data-slide-to="2" class=""></li>
                </ol>
                 
                <!-- Carousel items -->
                <div class="carousel-inner">
                    
                <div class="item active">
                	<div class="row">
                	  <div class="col-sm-4">
					   <div class="testimonial_hm text-center clearfix">
					      <img src="{% static 'property/img/27.jpg' %}" alt="abc" class="img-circle mgt">
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
standard dummy text ever since the been when an unknown printer.</p>
                           <hr>
					       <h4>Lacinia Nunc</h4>
						   <span class="span_1">
						    <i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						   </span>
					       <h5>Student</h5>
					   </div>
                      </div>
                	  <div class="col-sm-4">
					   <div class="testimonial_hm text-center clearfix">
					      <img src="{% static 'property/img/28.jpg' %}" alt="abc" class="img-circle mgt">
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
standard dummy text ever since the been when an unknown printer.</p>
                           <hr>
					       <h4>Lacinia Nunc</h4>
						   <span class="span_1">
						    <i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-half-o"></i>
						   </span>
					       <h5>Student</h5>
					   </div>
                      </div>
                	  <div class="col-sm-4">
					   <div class="testimonial_hm text-center clearfix">
					      <img src="{% static 'property/img/29.jpg' %}" alt="abc" class="img-circle mgt">
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
standard dummy text ever since the been when an unknown printer.</p>
                           <hr>
					       <h4>Lacinia Nunc</h4>
						   <span class="span_1">
						    <i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
						   </span>
					       <h5>Student</h5>
					   </div>
                      </div>
                	</div><!--.row-->
                </div><!--.item-->
                 
                <div class="item">
                	<div class="row">
                	  <div class="col-sm-4">
					   <div class="testimonial_hm text-center clearfix">
					      <img src="{% static 'property/img/30.jpg' %}" alt="abc" class="img-circle mgt">
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
standard dummy text ever since the been when an unknown printer.</p>
                           <hr>
					       <h4>Lacinia Nunc</h4>
						   <span class="span_1">
						    <i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						   </span>
					       <h5>Student</h5>
					   </div>
                      </div>
                	  <div class="col-sm-4">
					   <div class="testimonial_hm text-center clearfix">
					      <img src="{% static 'property/img/31.jpg' %}" alt="abc" class="img-circle mgt">
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
standard dummy text ever since the been when an unknown printer.</p>
                           <hr>
					       <h4>Lacinia Nunc</h4>
						   <span class="span_1">
						    <i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-half-o"></i>
						   </span>
					       <h5>Student</h5>
					   </div>
                      </div>
                	  <div class="col-sm-4">
					   <div class="testimonial_hm text-center clearfix">
					      <img src="{% static 'property/img/32.jpg' %}" alt="abc" class="img-circle mgt">
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
standard dummy text ever since the been when an unknown printer.</p>
                           <hr>
					       <h4>Lacinia Nunc</h4>
						   <span class="span_1">
						    <i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
						   </span>
					       <h5>Student</h5>
					   </div>
                      </div>
                	</div><!--.row-->
                </div><!--.item-->
                 
                <div class="item">
                	<div class="row">
                	  <div class="col-sm-4">
					   <div class="testimonial_hm text-center clearfix">
					      <img src="{% static 'property/img/33.jpg' %}" alt="abc" class="img-circle mgt">
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
standard dummy text ever since the been when an unknown printer.</p>
                           <hr>
					       <h4>Lacinia Nunc</h4>
						   <span class="span_1">
						    <i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						   </span>
					       <h5>Student</h5>
					   </div>
                      </div>
                	  <div class="col-sm-4">
					   <div class="testimonial_hm text-center clearfix">
					      <img src="{% static 'property/img/34.jpg' %}" alt="abc" class="img-circle mgt">
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
standard dummy text ever since the been when an unknown printer.</p>
                           <hr>
					       <h4>Lacinia Nunc</h4>
						   <span class="span_1">
						    <i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
						   </span>
					       <h5>Student</h5>
					   </div>
                      </div>
                	  <div class="col-sm-4">
					   <div class="testimonial_hm text-center clearfix">
					      <img src="{% static 'property/img/35.jpg' %}" alt="abc" class="img-circle mgt">
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
standard dummy text ever since the been when an unknown printer.</p>
                           <hr>
					       <h4>Lacinia Nunc</h4>
						   <span class="span_1">
						    <i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-half-o"></i>
						   </span>
					       <h5>Student</h5>
					   </div>
                      </div>
                	</div><!--.row-->
                </div><!--.item-->
                 
                </div><!--.carousel-inner-->
                </div>
   </div>
   
  </div>
 </div>
</section>

<section id="about_home">
 <div class="container">
  <div class="row">
   <div class="about_home_1 clearfix">
    <div class="col-sm-3">
	  <div class="about_home_1i clearfix">
	   <span class="span_1"><i class="fa fa-home col_1"></i></span>
	   <h3 class="mgt">350 <br><span class="span_2">Sold Houses</span></h3>
	  </div>
	</div>
	<div class="col-sm-3">
	  <div class="about_home_1i clearfix">
	   <span class="span_1"><i class="fa fa-list col_1"></i></span>
	   <h3 class="mgt">450 <br><span class="span_2">Daily Listings</span></h3>
	  </div>
	</div>
	<div class="col-sm-3">
	  <div class="about_home_1i clearfix">
	   <span class="span_1"><i class="fa fa-users col_1"></i></span>
	   <h3 class="mgt">250 <br><span class="span_2">Expert Agents</span></h3>
	  </div>
	</div>
	<div class="col-sm-3">
	  <div class="about_home_1i clearfix">
	   <span class="span_1"><i class="fa fa-trophy col_1"></i></span>
	   <h3 class="mgt">150 <br><span class="span_2">Won Awards</span></h3>
	  </div>
	</div>
   </div>
  </div>
 </div>
</section>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 2500);    
}
</script>

<script type="text/javascript">
	$(document).on('click', '.number-spinner button', function () {    
	var btn = $(this),
		oldValue = btn.closest('.number-spinner').find('input').val().trim(),
		newVal = 0;
	
	if (btn.attr('data-dir') == 'up') {
		newVal = parseInt(oldValue) + 1;
	} else {
		if (oldValue > 1) {
			newVal = parseInt(oldValue) - 1;
		} else {
			newVal = 1;
		}
	}
	btn.closest('.number-spinner').find('input').val(newVal);
});
	</script>
	
<script>
$(document).ready(function(){

/*****Fixed Menu******/
var secondaryNav = $('.cd-secondary-nav'),
   secondaryNavTopPosition = secondaryNav.offset().top;
	$(window).on('scroll', function(){
		if($(window).scrollTop() > secondaryNavTopPosition ) {
			secondaryNav.addClass('is-fixed');	
		} else {
			secondaryNav.removeClass('is-fixed');
		}
	});	
	
});
</script>
</body>
 
</html>
{% endblock content%}