{% extends "layouts/base.html" %}

{% block content %}

{% load static %}
	
<section id="center" class="center_home clearfix">
<div class="center_main clearfix">
	{% for slide in slider %}
 <div class="w3-content w3-section clearfix">
  <img class="mySlides w3-animate-top" src="{{ slide.image.url }}" alt="abc" style="width: 100%; display: none;">
<!--  <img class="mySlides w3-animate-bottom" src="{% static 'property/img/2.jpg' %}" alt="abc" style="width: 100%; display: block;">-->
<!--  <img class="mySlides w3-animate-top" src="{% static 'property/img/3.jpg' %}" alt="abc" style="width: 100%; display: none;">-->
</div>
	{% endfor %}
 <div class="center_main_1 clearfix">
  <div class="col-sm-8"></div>
  <div class="col-sm-4">
   <div class="center_main_1r clearfix">
     <h5 class="mgt col">Property Status</h5>
	 <select class="form-control" name="property">
		<option value="">Any Status</option>
		<option value="for-sale">For Sale</option>
		<option value="for-rent">For Rent</option>
		<option value="sold">Sold</option>
    </select>
	<h5 class="col">Property Type</h5>
	<select class="form-control" name="property">
		<option value="">Any Type</option>
		<option value="family-house">Family House</option>
		<option value="apartment">Apartment</option>
		<option value="condo">Condo</option>
    </select>
	<h5 class="col">Location</h5>
	<select class="form-control" name="Location">
		<option value="">Any Location</option>
		<option value="family-house">New York</option>
		<option value="apartment">Los Angeles</option>
		<option value="condo">Chicago</option>
		<option value="condo">Philadelphia</option>
		<option value="condo">San Francisco</option>
   </select>
   <h5 class="col">Price</h5>
	<select class="form-control" name="Price">
		<option value="">$54,000 - $130,000</option>
		<option value="family-house">$44,000 - $140,000</option>
		<option value="apartment">$74,000 - $150,000</option>
		<option value="condo">$84,000 - $160,000</option>
		<option value="condo">$94,000 - $170,000</option>
		<option value="condo">$44,000 - $120,000</option>
   </select>
   <div class="center_main_1ri clearfix">
    <div class="col-sm-6 space_left">
	 <h5 class="col">Beds</h5>
	 <select class="form-control" name="beds" id="beds">
		<option value="">Any</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
     </select>
	</div>
	<div class="col-sm-6 space_right">
	 <h5 class="col">Baths</h5>
	 <select class="form-control" name="beds" id="beds">
		<option value="">Any</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
     </select>
	</div>
   </div>
   <div class="center_main_1ri clearfix">
    <div class="col-sm-6 space_left">
	 <h5 class="col">Area (Min)</h5>
	 <div class="input-group number-spinner">
				<span class="input-group-btn">
					<button class="btn btn-default" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
				</span>
				<input type="text" class="form-control mgt text-center" value="1">
				<span class="input-group-btn">
					<button class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
				</span>
	</div>
	</div>
	<div class="col-sm-6 space_right">
	 <h5 class="col">Area (Max)</h5>
	 <div class="input-group number-spinner">
				<span class="input-group-btn">
					<button class="btn btn-default" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
				</span>
				<input type="text" class="form-control mgt text-center" value="1">
				<span class="input-group-btn">
					<button class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
				</span>
	</div>
	</div>
   </div>
   <h5 class="text-center"><a class="button_1 block" href="#">SEARCH PROPERTY</a></h5>
   </div>
  </div>
 </div>
</div>
</section>

<section id="feature">
 <div class="container">
  <div class="row">
   <div class="feature_1 clearfix">
    <div class="col-sm-12">
	   <h4 class="mgt">RECENTLY <br><span class="col_1">PROPERTIES</span></h4>
	</div>
   </div>

   <div class="feature_2 clearfix">

    <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->

            <div class="carousel-inner">
                <div class="item active">
					{% for property in queryset %}
					<div class="col-sm-4"><br><br>
						 <div class="feature_2im clearfix">
							 <div class="feature_2im1 clearfix">
								 {% for image in property.property_image.all %}
								 {%if forloop.first%}
								 <a href="#"><img src="{{ image.image.url }}" class="iw" alt="abc" height="280" width="360"></a>
							 	{%endif%}
								 {% endfor %}
							 </div>

							 <div class="feature_2im2 clearfix">
								 <h6 class="mgt"><a class="bg_1" href="#">{{ property.feature }}</a></h6>
								 <h6 class="pull-right mgt"><a class="bg_2" href="#">{{ property.for_rent_or_sale }}</a></h6>
							 </div>
							 <div class="feature_2im4 clearfix">
								 <div class="col-sm-6 space_left">
								   <h6><a class="bg_3" href="#">{{ property.property_type_family_or_bachelor }}</a></h6>
								 </div>
								 <div class="col-sm-6 feature_2im4r space_right">
									 <ul class="mgt">
										<li><a href="#"><i class="fa fa-link"></i></a></li>
										<li><a href="#"><i class="fa fa-video-camera"></i></a></li>
										<li><a href="#"><i class="fa fa-photo"></i></a></li>
								     </ul>
								 </div>
							 </div>
						 </div>
						<div class="feature_2m_last clearfix">
						  <h4 class="mgt bold"><a href="{% url 'home_detail' property.id %}">{{ property.title }}</a></h4>
						  <p><i class="fa fa-map-marker"></i> {{property.location}}</p><br>
						  <h6><i class="fa fa-hotel col_1"></i> {{ property.beds }} <span class="pull-right"><i class="fa fa-building-o col_1"></i> {{ property.bathroom }}</span></h6>
						  <h6><i class="fa fa-object-group col_1"></i> {{ property.house_size}} <span class="pull-right"><i class="fa fa-gear col_1"></i> {{ property.garage }}</span></h6><br>
						  <h5 class="bold"><a href="#">$ {{ property.price }} <span class="pull-right"><i class="fa fa-exchange"></i> <i class="fa fa-share-alt"></i> <i class="fa fa-heart-o"></i></span></a></h5>
						  <div class="feature_2m_last_i clearfix">
							  <h6><a href="#"><i class="fa fa-user"></i> {{ property.user.username }} <span class="pull-right"><i class="fa fa-calendar"></i> {{ property.date }}</span></a></h6>
						  </div>
					 	</div>
					</div>
					{% endfor %}
				</div>
			</div>

		</div>
        </div>
   </div>


  </div>
 </div>
</section>

<div class="container p-4">
        <div class="col-md-6 col-md-offset-3 text-center">
            <span class="step-links">
              {% if queryset.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ queryset.previous_page_number }}">previous</a>
              {% endif %}

                <span class="current">
                    Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}
                </span>

              {% if queryset.has_next %}
                  <a href="?page={{ queryset.next_page_number }}">next</a>
                  <a href="?page={{ queryset.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
            </div>
        </div>


<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 2500);    
}
</script>

<script type="text/javascript">
	$(document).on('click', '.number-spinner button', function () {    
	var btn = $(this),
		oldValue = btn.closest('.number-spinner').find('input').val().trim(),
		newVal = 0;
	
	if (btn.attr('data-dir') == 'up') {
		newVal = parseInt(oldValue) + 1;
	} else {
		if (oldValue > 1) {
			newVal = parseInt(oldValue) - 1;
		} else {
			newVal = 1;
		}
	}
	btn.closest('.number-spinner').find('input').val(newVal);
});
	</script>
	
<script>
$(document).ready(function(){

/*****Fixed Menu******/
var secondaryNav = $('.cd-secondary-nav'),
   secondaryNavTopPosition = secondaryNav.offset().top;
	$(window).on('scroll', function(){
		if($(window).scrollTop() > secondaryNavTopPosition ) {
			secondaryNav.addClass('is-fixed');	
		} else {
			secondaryNav.removeClass('is-fixed');
		}
	});	
	
});
</script>
</body>
 
</html>
{% endblock content%}