{% extends "layouts/base.html" %}

{% block title %} Login {% endblock title %}

<!-- Specific Page CSS goes HERE  -->

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'property/css/sign_up.css' %}">
{% endblock stylesheets %}

{% block content %}
<div class="container-fluid center">
        <form class="my-form" method="POST" href="{% url 'sign_view' %}">
            {% csrf_token %}
            {% if messages %}
            <div class="alert alert-info">
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <h3 class="blue-text center">Sign In</h3><br><br><br>
            <!-- Your form fields go here -->
            <div class="form-group">
                <label for="username">User Name:</label>
                <input type="text" placeholder="username" class="form-control validate" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" placeholder="Password" class="form-control validate" id="password" name="password" required><br>
            </div>
            <!-- Add the rest of your form fields here -->
            <span>
            <div class="pb-3 text-center">
                <button type="submit" class="btn btn-red" value="Submit">Sign In</button>

                <button type="submit" class="btn btn-red" value="Submit">Sign Up</button>
            </div>
            </span>
        </form>
    </div><br>

{% endblock content %}
